<h1>Alert List</h1>

<%= link_to 'Create Alert', new_alert_path, :class => "btn btn-default btn-md" %>

<br/>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @alerts.each do |alert| %>
			<tr>
				<td><%= alert.id %></td>
				<td><%= alert.type %></td>
				<td><%= link_to 'Show', alert_path(alert), :class => "btn btn-default btn-md" %></td>
				<td><%= link_to 'Edit', edit_alert_path(alert), :class => "btn btn-default btn-md" %></td>
				<td><%= link_to 'Delete', alert, :method => :delete, :class => "btn btn-default btn-md", :confirm => "Delete Alert: Are you sure" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
