<h2>Join UKFloodAlerts</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :role =>"form") do |f| %>
	<% if devise_error_messages! != "" %> 
		<div class="alert alert-danger">
			<%= devise_error_messages! %>
		</div>
	<% end %>

	<div class="form-group">
  	<%= f.label "Alert radius (Miles)" %>
  	<%= f.number_field :alert_radius, :class =>"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :mobile %>
		<%= f.text_field :mobile, :class =>"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :landline %>
		<%= f.text_field :phone, :class =>"form-control" %>
	</div>

	<div class="form-group">
  	<%= f.label :house_number %>
  	<%= f.number_field :house_number, :class =>"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :postcode %>
		<%= f.text_field :postcode, :class =>"form-control" %>
	</div>

	<div class="form-group">
  	<%= f.label :email %>
  	<%= f.email_field :email, :class =>"form-control" %>
	</div>

	<div class="form-group">
  	<%= f.label :password %>
  	<%= f.password_field :password, :class =>"form-control" %>
	</div>

	<div class="form-group">
  	<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class =>"form-control" %>
	</div>

	<div class="form-group">
		<%= f.submit "Register", :class =>"btn btn-success btn-md" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
