<div class="panel panel-default">
	<div class="panel-heading text-right">
		<%= link_to 'Post Alert', new_alert_path, :class => "btn btn-success btn-md" %>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr class="row">
					<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3 centerText">Type</th>
					<th class="col-xs-7 col-sm-7 col-md-7 col-lg-7 centerText">Description</th>
					<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
					<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
				</tr>
			</thead>

			<tbody>
				<% @alerts.each do |alert| %>
					<tr class="row">
						<td><%= alert.alertType %></td>
						<td><%= alert.desc %></td>
						<td>
							<div class="centerText">
								<%= link_to 'Edit', edit_alert_path(alert), :class => "btn btn-default btn-md" %>
							</div>
						</td>
						<td>	
							<div class="centerText">
								<%= link_to 'Delete', alert, :method => :delete, :class => "btn btn-danger btn-md", :data => { :confirm => "Delete Alert: Are you sure?" } %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
